# deps
node_modules/
.pnpm-store/

# build
.next/
dist/
out/
.turbo/
*.tsbuildinfo

# test
coverage/
playwright-report/
test-results/

# env
.env
.env.*
!.env.example

# editor / os
.DS_Store
*.log
.vercel

# local file storage
.storage/
